{
  "swagger": "2.0",
  "info": {
    "version": "1.9.1",
    "title": "BuchhaltungsButler API"
  },
  "host": "webapp.buchhaltungsbutler.de",
  "basePath": "https://webapp.buchhaltungsbutler.de/api/v1",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/receipts/get": {
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "get receipts",
        "description": "Get receipts for a specified customer account. The response includes the number of returned rows and an array of receipts data.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "list_direction",
            "description": "Can be either 'inbound' (<i>&ldquo;Eingangsbelege&rdquo;</i>) or 'outbound' (&ldquo;Ausgangsbelege&rdquo;).",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payment_status",
            "description": "Can be either 'paid' (<i>&ldquo;bezahlt&rdquo;</i>) or 'unpaid' (&ldquo;unbezahlt&rdquo;).<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "counterparty",
            "description": "The counterparty of the receipt, i.e. the invoicing party for type 'inbound' or the recipient for type 'outbound' (e.g. 'Peter Maier').<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date_from",
            "description": "The receipt's issuing date in format 'YYYY-MM-DD' (e.g. '2017-04-26'). All receipts with issuing date including and after given value will be returned. <br/><br/>If specified, the field will be validated. An empty string is not considered a valid date.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date_to",
            "description": "The receipt's issuing date in format 'YYYY-MM-DD' (e.g. '2017-04-26'). All receipts with issuing date including and before given value will be returned.<br/><br/>If specified, the field will be validated. An empty string is not considered a valid date.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "limit",
            "description": "A limit of returned data. If no limit is given, the default will be 500.<br/><br/>Also the maximum limit is 500.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "integer",
            "default": 500
          },
          {
            "in": "body",
            "name": "offset",
            "description": "The offset for paging returned data. If no offset is given, the default will be 0.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "order",
            "description": "Possible fields are:<br/>date<br/>amount<br/>invoicenumber (invoice_number)<br/>invoicingparty (counterparty)<br/><br/>Allowed values are 'ASC' and 'DESC'<br/><br/>Example:<br/>{\"date\": \"ASC\"}<br/>{\"date\": \"ASC\", \"amount\": \"DESC\"}",
            "schema": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "enum": ["ASC", "DESC"]
                }
              },
              "required": ["field"]
            },
            "required": false
          },
          {
            "in": "body",
            "name": "include_offers",
            "description": "If true, offers will be included.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "boolean",
            "default": "false"
          },
          {
            "in": "body",
            "name": "deleted",
            "description": "If true, only deleted receipts will be returned.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "boolean",
            "default": "false"
          },
          {
            "in": "body",
            "name": "invoicenumber",
            "description": "The invoicenumber for the invoice. If specified, the receipts with the same invoicenumber will be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "due_date",
            "description": "The receipt's issuing due date in format 'YYYY-MM-DD' (e.g. '2017-04-26'). All receipts with the same due date given value will be returned. <br/><br/>If specified, the field will be validated. An empty string is not considered a valid due date.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "query successful",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode11"
            }
          },
          "400 (5)": {
            "description": "invalid list_direction specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "invalid payment_status specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "invalid date_from specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode7"
            }
          },
          "400 (8)": {
            "description": "invalid date_to specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "invalid counterparty specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode9"
            }
          },
          "400 (10)": {
            "description": "invalid limit specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode10"
            }
          },
          "400 (12)": {
            "description": "invalid offset specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode12"
            }
          },
          "400 (13)": {
            "description": "invalid include_offers specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode13"
            }
          },
          "400 (14)": {
            "description": "invalid deleted specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode14"
            }
          },
          "400 (15)": {
            "description": "invalid sort field is specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode15"
            }
          },
          "400 (16)": {
            "description": "invalid sort value is specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode16"
            }
          },
          "400 (17)": {
            "description": "invalid invoicenumber specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode17"
            }
          },
          "400 (18)": {
            "description": "invalid due_date specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode18"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/ReceiptsGet_ErrorCode30"
            }
          }
        }
      }
    },
    "/receipts/get/id_by_customer": {
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "get receipt by id_by_customer",
        "description": "Get a single receipt for a specified customer account by id_by_customer. You can get the <i>&ldquo;id_by_customer&rdquo;</i> by using the <i>&ldquo;/receipts/get method&rdquo;</i> first. The response includes an array of receipt data.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "get_file",
            "description": "If true, the file will be included as a base64 encoded string<br/>(e_invoice_type = 0 -> standard pdf file,<br/>e_invoice_type = 1 -> ZUGFeRD pdf file,<br/>e_invoice_type = 2 -> xRechnung xml file).<br/>If specified, the field will be validated.",
            "required": false,
            "type": "boolean",
            "default": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "query successful",
            "schema": {
              "$ref": "#/definitions/ReceiptsGetIdByCustomer_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/ReceiptsGetIdByCustomer_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/ReceiptsGetIdByCustomer_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/ReceiptsGetIdByCustomer_ErrorCode11"
            }
          },
          "400 (5)": {
            "description": "invalid id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGetIdByCustomer_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "invalid get_file specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsGetIdByCustomer_ErrorCode6"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/ReceiptsGetIdByCustomer_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/ReceiptsGetIdByCustomer_ErrorCode30"
            }
          }
        }
      }
    },
    "/receipts/add": {
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "add a receipt",
        "description": "Add a receipt into the specified customer account. NOTE: Use this endpoint, to add a receipt without a file!",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "type",
            "description": "Can be 'invoice inbound' (<i>&ldquo;Eingangsrechnung&rdquo;</i>), 'invoice outbound' (&ldquo;Ausgangsrechnung&rdquo;), 'credit inbound' (&ldquo;Eingangsgutschrift § 14 UStG&rdquo;), 'credit outbound' (&ldquo;Ausgangsgutschrift § 14 UStG&rdquo;).",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "counterparty",
            "description": "The counterparty of the receipt, i.e. the invoicing party for type 'invoice inbound' or the recipient for type 'invoice outbound' (e.g. 'Peter Maier').<br/><br>An empty string is not considered a valid counterparty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "invoice_number",
            "description": "The invoice number (e.g. '1231XU23') with a maximum length of 60 characters - may also be an empty string.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date",
            "description": "The receipt's issuing date in format 'YYYY-MM-DD' (e.g. '2017-04-26').<br/><br/>An empty string is not considered a valid date.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "amount",
            "description": "The total amount of the receipt, can be negative to indicate a reversed payment (e.g. -12.30).<br/><br/>'0.00' is not considered a valid receipt amount.",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "in": "body",
            "name": "currency",
            "description": "At the moment we accept USD, GBP and CHF.<br/><br/>An empty string is not considered a valid currency.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "vat_rate",
            "description": "The receipt's vat rate (e.g. 19.00 or 0) - may also be an empty string to indicate a non-available or multiple vat rates",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "in": "body",
            "name": "account",
            "description": "If the receipt shall directly be assigned to a payment account, you can specify its posting account number (e.g. '1200').<br/><br/>If specified, the account must exist as a payment account for the customer.<br>'0' is not considered a valid account.",
            "required": false,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "creditor_debtor",
            "description": "If the receipt shall directly be assigned to a creditor (for type 'invoice inbound') or debtor (for type 'invoice outbound') account, you can specify its posting account number (e.g. '70001').<br/><br/>If specified, creditors/debtors have to be activated for the customer, the creditor/debtor account must exist for the customer and it must be compatible with the specified receipt type.<br>'0' is not considered a valid creditor/debtor.",
            "required": false,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "payment_reference",
            "description": "The payment reference id.<br /><br />If specified correctly, the uploaded receipt will match with the corresponding transaction.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date_delivery",
            "description": "The delivery date in format 'YYYY-MM-DD' (e.g. '2017-04-26').<br /><br /><strong>NOTE: Due to the DATEV compatibility, we cannot accept a delivery date that is after the receipt date!</strong><br /><br />If specified, it will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date_payment_due",
            "description": "The payment due date in format 'YYYY-MM-DD' (e.g. '2017-04-26').",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "link_to_receipt_id_by_customer",
            "description": "Has to be a valid id_by_customer of another receipt. If specified, both receipts will be assigned to a transaction if one of them is assigned manually.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "adding successful",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode11"
            }
          },
          "400 (8)": {
            "description": "invalid receipt type",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "invalid account specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode9"
            }
          },
          "400 (10)": {
            "description": "account does not exist for the customer",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode10"
            }
          },
          "400 (17)": {
            "description": "invalid counterparty specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode17"
            }
          },
          "400 (18)": {
            "description": "invalid invoice number specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode18"
            }
          },
          "400 (19)": {
            "description": "invalid date specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode19"
            }
          },
          "400 (20)": {
            "description": "invalid amount specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode20"
            }
          },
          "400 (21)": {
            "description": "invalid currency specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode21"
            }
          },
          "400 (22)": {
            "description": "invalid vat rate specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode22"
            }
          },
          "400 (24)": {
            "description": "invalid creditor/debtor specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode24"
            }
          },
          "400 (25)": {
            "description": "creditor/debtor specified does not exist for the customer",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode25"
            }
          },
          "400 (26)": {
            "description": "a receipt of type '<type>' cannot be assigned to a creditor account",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode26"
            }
          },
          "400 (27)": {
            "description": "creditors are not activated for the customer",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode27"
            }
          },
          "400 (28)": {
            "description": "a receipt of type '<type>' cannot be assigned to a debtor account",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode28"
            }
          },
          "400 (29)": {
            "description": "debtors are not activated for the customer",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode29"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode30"
            }
          },
          "400 (34)": {
            "description": "invalid payment reference specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode34"
            }
          },
          "400 (35)": {
            "description": "invalid date delivery specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode35"
            }
          },
          "400 (36)": {
            "description": "invalid date_payment_due specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode36"
            }
          },
          "400 (37)": {
            "description": "invalid link_to_receipt_id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAdd_ErrorCode37"
            }
          }
        }
      }
    },
    "/receipts/addBatch": {
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "add batch receipts",
        "description": "Add multiple receipts<br><br><strong>Note: a request is allowed only every 5 seconds</strong>",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "receipts",
            "description": "list of receipts<br><br>maximum of 50 receipts are allowed<br><br>A receipt has the same fields like the /receipts/add endpoint has, same applies for error messages",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Receipts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReceiptsAddBatch_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode4"
            }
          },
          "400 (5)": {
            "description": "Maximum of 50 receipts exceeded",
            "schema": {
              "$ref": "#/definitions/ReceiptsAddBatch_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "No receipts found",
            "schema": {
              "$ref": "#/definitions/ReceiptsAddBatch_ErrorCode6"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode11"
            }
          },
          "403 (15)": {
            "description": "adding is temporarily restricted",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode15"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode30"
            }
          }
        }
      }
    },
    "/receipts/upload": {
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "upload receipt",
        "description": "Upload a receipt into the specified customer account. The receipt will be processed by the BuchhaltungsButler technology. The response includes the filename (without extension) of the receipt as it is stored.<br><br><strong>Note: max 10 requests per minute</strong>",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "file",
            "description": "The receipt file as real file upload or as base64 encoded string.<br /><br />Accepted file types are: application/pdf, text/xml, application/xml, image/jpeg, image/png, image/bmp, image/tiff",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "type",
            "description": "Can be 'invoice inbound' (<i>&ldquo;Eingangsrechnung&rdquo;</i>), 'invoice outbound' (&ldquo;Ausgangsrechnung&rdquo;), 'credit inbound' (&ldquo;Eingangsgutschrift § 14 UStG&rdquo;), 'credit outbound' (&ldquo;Ausgangsgutschrift § 14 UStG&rdquo;).",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "file_name",
            "description": "The name of the file. <br /><br /> NOTE: This is required for files sent as base64 encoded string and will be ignored for files sent as real upload.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "account",
            "description": "If the receipt shall directly be assigned to a payment account, you can specify its posting account number (e.g. '1200').<br/><br/>If specified, the account must exist as a payment account for the customer.<br>'0' is not considered a valid account.",
            "required": false,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "creditor_debtor",
            "description": "If the receipt shall directly be assigned to a creditor (for type 'invoice inbound') or debtor (for type 'invoice outbound') account, you can specify its posting account number (e.g. '70001').<br/><br/>If specified, creditors/debtors have to be activated for the customer, the creditor/debtor account must exist for the customer and it must be compatible with the specified receipt type.<br>'0' is not considered a valid creditor/debtor.",
            "required": false,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "counterparty",
            "description": "The counterparty of the receipt, i.e. the invoicing party for type 'invoice inbound' or the recipient for type 'invoice outbound' (e.g. 'Peter Maier').<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid counterparty. <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "invoice_number",
            "description": "The invoice number (e.g. '1231XU23') with a maximum length of 60 characters - may also be an empty string. <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date",
            "description": "The receipt's issuing date in format 'YYYY-MM-DD' (e.g. '2017-04-26').<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid date. <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "amount",
            "description": "The total amount of the receipt, can be negative to indicate a reversed payment (e.g. -12.30).<br/><br/>If specified, the field will be validated.<br>'0.00' is not considered a valid receipt amount. <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "in": "body",
            "name": "currency",
            "description": "Has to be 'EUR' if specified.<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid currency. <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "vat_rate",
            "description": "The receipt's vat rate (e.g. 19.00 or 0) - may also be an empty string to indicate a non-available or multiple vat rates. <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "in": "body",
            "name": "payment_reference",
            "description": "The payment reference id.<br /><br />If specified correctly, the uploaded receipt will match with the corresponding transaction.<br /><br />Currently we support Amazon order id, PayPal transaction id and Stripe transaction id. <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date_delivery",
            "description": "The delivery date in format 'YYYY-MM-DD' (e.g. '2017-04-26').<br /><br /><strong>NOTE: Due to the DATEV compatibility, we cannot accept a delivery date that is after the receipt date!</strong><br /><br />If specified, it will be validated. <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date_payment_due",
            "description": "The payment due date in format 'YYYY-MM-DD' (e.g. '2017-04-26'). <br /><br /> NOTE: This parameter will be ignored when you upload an e-invoice!",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "link_to_receipt_id_by_customer",
            "description": "Has to be a valid id_by_customer of another receipt. If specified, both receipts will be assigned to a transaction if one of them is assigned manually.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "upload successful",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode11"
            }
          },
          "403 (12)": {
            "description": "customer has reached the upload limit",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode12"
            }
          },
          "403 (15)": {
            "description": "upload is temporarily restricted",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode15"
            }
          },
          "400 (5)": {
            "description": "no file provided",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "file type not accepted",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "maximum file size exceeded",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode7"
            }
          },
          "400 (14)": {
            "description": "maximum pages exceeded",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode14"
            }
          },
          "400 (8)": {
            "description": "invalid receipt type",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "invalid account specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode9"
            }
          },
          "400 (10)": {
            "description": "account does not exist for the customer",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode10"
            }
          },
          "400 (17)": {
            "description": "invalid counterparty specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode17"
            }
          },
          "400 (18)": {
            "description": "invalid invoice number specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode18"
            }
          },
          "400 (19)": {
            "description": "invalid date specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode19"
            }
          },
          "400 (20)": {
            "description": "invalid amount specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode20"
            }
          },
          "400 (21)": {
            "description": "invalid currency specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode21"
            }
          },
          "400 (22)": {
            "description": "invalid vat rate specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode22"
            }
          },
          "400 (24)": {
            "description": "invalid creditor/debtor specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode24"
            }
          },
          "400 (25)": {
            "description": "creditor/debtor specified does not exist for the customer",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode25"
            }
          },
          "400 (26)": {
            "description": "a receipt of type '<type>' cannot be assigned to a creditor account",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode26"
            }
          },
          "400 (27)": {
            "description": "creditors are not activated for the customer",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode27"
            }
          },
          "400 (28)": {
            "description": "a receipt of type '<type>' cannot be assigned to a debtor account",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode28"
            }
          },
          "400 (29)": {
            "description": "debtors are not activated for the customer",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode29"
            }
          },
          "400 (23)": {
            "description": "no post and files content received or declined",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode23"
            }
          },
          "422 (31)": {
            "description": "the receipt could not be processed (protected?)",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode31"
            }
          },
          "422 (32)": {
            "description": "the receipt could not be processed by ocr",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode32"
            }
          },
          "400 (33)": {
            "description": "file name is not specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode33"
            }
          },
          "400 (34)": {
            "description": "invalid payment reference specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode34"
            }
          },
          "400 (35)": {
            "description": "invalid date delivery specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode35"
            }
          },
          "400 (36)": {
            "description": "invalid date_payment_due specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode36"
            }
          },
          "400 (37)": {
            "description": "invalid link_to_receipt_id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode37"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/ReceiptsUpload_ErrorCode30"
            }
          }
        }
      }
    },
    "/receipts/delete/id_by_customer": {
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "delete receipt by id_by_customer",
        "description": "Mark a receipt as deleted for a specified customer account by id_by_customer. You can get the <i>&ldquo;id_by_customer&rdquo;</i> by using the <i>&ldquo;/receipts/get method&rdquo;</i> first.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "query successful",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode11"
            }
          },
          "400 (5)": {
            "description": "invalid id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "no receipt found",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "receipt is already deleted",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode7"
            }
          },
          "400 (8)": {
            "description": "receipt can´t be marked as deleted - fixed postings exist",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "receipt is directly assigned to confirmed postings",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode9"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/ReceiptsDeleteIdByCustomer_ErrorCode30"
            }
          }
        }
      }
    },
    "/receipts/restore/id_by_customer": {
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "restore deleted receipt by id_by_customer",
        "description": "Restore a marked as deleted receipt for a specified customer account by id_by_customer. You can get the <i>&ldquo;id_by_customer&rdquo;</i> by using the <i>&ldquo;/receipts/get method&rdquo;</i> first.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "query successful",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode11"
            }
          },
          "400 (5)": {
            "description": "invalid id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "no receipt found",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "receipt is not marked as deleted",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode7"
            }
          },
          "400 (8)": {
            "description": "restoration of receipt failed",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode8"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/ReceiptsRestoreIdByCustomer_ErrorCode30"
            }
          }
        }
      }
    },
    "/receipts/assigned-transactions/get": {
      "post": {
        "tags": [
          "Receipts"
        ],
        "summary": "get all transactions assigned to a specific receipt",
        "description": "Get all transactions assigned to a specific receipt for a specified customer account by id_by_customer. You can get the <i>&ldquo;id_by_customer&rdquo;</i> by using the <i>&ldquo;/receipts/get method&rdquo;</i> first.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "receipt_id_by_customer",
            "description": "The id_by_customer of the receipt.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "confirmed_only",
            "description": "If true, only confirmed assignments will be returned.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "boolean",
            "default": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "query successful",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_ErrorCode11"
            }
          },
          "400 (5)": {
            "description": "invalid receipt_id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "no receipt found",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "invalid confirmed_only specified",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_ErrorCode7"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/ReceiptsAssignedTransactionsGet_ErrorCode30"
            }
          }
        }
      }
    },
    "/transactions/get": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "get transactions",
        "description": "Get transactions for a specified customer account. The response includes the number of returned rows and an array of transaction datas.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id_by_customer_from",
            "description": "The id_by_customer as an integer. All transactions after given value will be returned. The transaction with the given value will NOT be returned!<br /><br />NOTE: By specifying this, the sort changes to id_by_customer ASC, even if you use this in combination with date params.<br /><br />If specified, the field will be validated.",
            "required": false,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "id_by_customer_to",
            "description": "The id_by_customer as an integer. All transactions to given value will be returned. The transaction with the given value will NOT be returned!<br /><br />NOTE: By specifying this, the sort changes to id_by_customer ASC, even if you use this in combination with date params.<br /><br />If specified, the field will be validated.",
            "required": false,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "date_from",
            "description": "The transaction's booking date in format 'YYYY-MM-DD' (e.g. '2017-04-26'). All transactions with booking date including and after given value will be returned. <br/><br/>An empty string is not considered a valid date.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date_to",
            "description": "The transaction's booking date in format 'YYYY-MM-DD' (e.g. '2017-04-26'). All transaction with booking date including and before given value will be returned.<br/><br/>An empty string is not considered a valid date.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "account",
            "description": "The account number of the account the transaction is stored to.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "to_from",
            "description": "The payer/payee of the transaction.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "limit",
            "description": "A limit of returned data. If no limit is given, the default will be 500.<br/><br/>Also the maximum limit is 500.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "integer",
            "default": 500
          },
          {
            "in": "body",
            "name": "offset",
            "description": "The offset for paging returned data. If no offset is given, the default will be 0.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "integer",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "query successful",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode4"
            }
          },
          "400 (5)": {
            "description": "invalid date_from specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "invalid date_to specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "invalid account specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode7"
            }
          },
          "400 (8)": {
            "description": "invalid to_from specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "invalid limit specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode9"
            }
          },
          "400 (10)": {
            "description": "invalid offset specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode10"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode11"
            }
          },
          "400 (12)": {
            "description": "invalid id_by_customer_from specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode12"
            }
          },
          "400 (13)": {
            "description": "invalid id_by_customer_to specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode13"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/TransactionsGet_ErrorCode30"
            }
          }
        }
      }
    },
    "/transactions/get/id_by_customer": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "get transaction by id_by_customer",
        "description": "Get a single transaction for a specified customer account by id_by_customer. You can get the <i>&ldquo;id_by_customer&rdquo;</i> by using the <i>&ldquo;/transactions/get method&rdquo;</i> first. The response includes an array of transaction data.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "query successful",
            "schema": {
              "$ref": "#/definitions/TransactionsGetIdByCustomer_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/TransactionsGetIdByCustomer_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/TransactionsGetIdByCustomer_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/TransactionsGetIdByCustomer_ErrorCode11"
            }
          },
          "400 (5)": {
            "description": "invalid id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/TransactionsGetIdByCustomer_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "transaction not found",
            "schema": {
              "$ref": "#/definitions/TransactionsGetIdByCustomer_ErrorCode6"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/TransactionsGetIdByCustomer_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/TransactionsGetIdByCustomer_ErrorCode30"
            }
          }
        }
      }
    },
    "/transactions/add": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "add transaction",
        "description": "Add a transaction to a payment account of the specified customer.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "account",
            "description": "The posting account number (e.g. '1200') of the account to which to add the transaction.<br/><br/>The account must exist as a payment account for the customer.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "to_from",
            "description": "The payment recipient or sender",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "amount",
            "description": "The transaction's amount (positive for incoming and negative for outgoing payments) in the account's currency.<br/><br/>'0.00' is not considered a valid transaction amount.",
            "required": true,
            "type": "number",
            "format": "float"
          },
          {
            "in": "body",
            "name": "booking_date",
            "description": "The transaction's booking date in format 'YYYY-MM-DD HH:II:SS' (e.g. '2017-04-26 00:00:00').",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "value_date",
            "description": "The transaction's value date in format 'YYYY-MM-DD HH:II:SS' (e.g. '2017-04-26 00:00:00').<br/><br/>If not specified, the value date will be set to the same value as the booking date.<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid date.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "account_number",
            "description": "The account number (or IBAN) of the payment recipient or sender.<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid account number.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "bank_code",
            "description": "The bank code (or BIC) of the payment recipient or sender.<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid bank code.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "bank_name",
            "description": "The bank name of the payment recipient or sender.<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid bank name.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "purpose",
            "description": "The transaction purpose - may also be an empty string.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "type",
            "description": "The transaction type (e.g. 'Direct debit').<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid type.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "booking_text",
            "description": "The booking text - may also be an empty string.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payment_reference",
            "description": "The payment reference id.<br /><br />If specified correctly, the added transaction will match with the corresponding receipt.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "currency",
            "description": "The transaction currency.<br/><br/>Currently we support the following currencies: AED, AUD, BGN, BRL, CAD, CHF, CNY, COP, CYP, CZK, DKK, EUR, GBP, HKD, HRK, HUF, IDR, ILS, INR, ISK, JPY, KRW, LTL, LVL, MTL, MXN, MYR, NOK, NZD, PEN, PHP, PLN, QAR, ROL, RON, RUB, SEK, SGD, SIT, SKK, THB, TRL, TRY, UAH, USD, VND, ZAR<br/><br/>If specified, the field will be validated.<br>An empty string is not considered a valid type.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "adding successful",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode11"
            }
          },
          "403 (15)": {
            "description": "adding is temporarily restricted",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode15"
            }
          },
          "400 (5)": {
            "description": "no account specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "invalid account specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "account does not exist for the customer",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode7"
            }
          },
          "400 (8)": {
            "description": "no payment recipient or sender (to_from) specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "invalid payment recipient or sender (to_from) specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode9"
            }
          },
          "400 (10)": {
            "description": "no amount specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode10"
            }
          },
          "400 (13)": {
            "description": "invalid amount specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode13"
            }
          },
          "400 (14)": {
            "description": "no booking date specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode14"
            }
          },
          "400 (16)": {
            "description": "invalid booking date specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode16"
            }
          },
          "400 (17)": {
            "description": "invalid value date specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode17"
            }
          },
          "400 (18)": {
            "description": "invalid account number specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode18"
            }
          },
          "400 (19)": {
            "description": "invalid bank code specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode19"
            }
          },
          "400 (20)": {
            "description": "invalid bank name specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode20"
            }
          },
          "400 (21)": {
            "description": "invalid purpose specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode21"
            }
          },
          "400 (22)": {
            "description": "invalid type specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode22"
            }
          },
          "400 (23)": {
            "description": "no post and files content received or declined",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode23"
            }
          },
          "400 (24)": {
            "description": "invalid booking text specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode24"
            }
          },
          "400 (25)": {
            "description": "invalid payment reference specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode25"
            }
          },
          "400 (26)": {
            "description": "invalid currency specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode26"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/TransactionsAdd_ErrorCode30"
            }
          }
        }
      }
    },
    "/transactions/addBatch": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "add batch transaction",
        "description": "Add multiple transactions<br><br><strong>Note: a request is allowed only every 5 seconds</strong>",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "transactions",
            "description": "list of transactions<br><br>maximum of 50 transactions are allowed<br><br>A transaction has the same fields like the /transactions/add endpoint has, same applies for error messages",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Transactions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionsAddBatch_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode4"
            }
          },
          "400 (5)": {
            "description": "Maximum of 50 transactions exceeded",
            "schema": {
              "$ref": "#/definitions/TransactionsAddBatch_ErrorCode5"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode11"
            }
          },
          "403 (15)": {
            "description": "adding is temporarily restricted",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode15"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode30"
            }
          }
        }
      }
    },
    "/transactions/assign/receipt": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "assign receipt to transaction",
        "description": "Assign a receipt to a transaction.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "transaction_id_by_customer",
            "description": "The id_by_customer of the transaction.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "receipt_id_by_customer",
            "description": "The id_by_customer of the receipt.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "assigning successful",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode11"
            }
          },
          "400 (5)": {
            "description": "invalid assignment type specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "no transaction_id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "no receipt_id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/PostingsAssignReceiptToFreePosting_ErrorCode7"
            }
          },
          "400 (8)": {
            "description": "transaction not found",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "receipt not found",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode9"
            }
          },
          "400 (23)": {
            "description": "no post and files content received or declined",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode23"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignReceipt_ErrorCode30"
            }
          }
        }
      }
    },
    "/transactions/unassign/receipt": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "unassign a specific receipt from a transaction",
        "description": "Unassign a specific receipt from a transaction.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "transaction_id_by_customer",
            "description": "The id_by_customer of the transaction.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "receipt_id_by_customer",
            "description": "The id_by_customer of the receipt to unassign.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "unassigning successful",
            "schema": {
              "$ref": "#/definitions/TransactionsUnassignReceipt_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode11"
            }
          },
          "400 (6)": {
            "description": "no or invalid transaction_id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/TransactionsUnassignReceipt_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "no or invalid receipt_id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/TransactionsUnassignReceipt_ErrorCode7"
            }
          },
          "400 (8)": {
            "description": "transaction not found",
            "schema": {
              "$ref": "#/definitions/TransactionsUnassignReceipt_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "receipt not found",
            "schema": {
              "$ref": "#/definitions/TransactionsUnassignReceipt_ErrorCode9"
            }
          },
          "400 (10)": {
            "description": "receipt could not be removed from transaction, because of a confirmed posting",
            "schema": {
              "$ref": "#/definitions/TransactionsUnassignReceipt_ErrorCode10"
            }
          },
          "400 (23)": {
            "description": "no receipts assigned to transaction",
            "schema": {
              "$ref": "#/definitions/TransactionsUnassignReceipt_ErrorCode23"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode30"
            }
          }
        }
      }
    },
    "/transactions/assign-batch/receipt": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "assign multiple receipts to transactions",
        "description": "Assign multiple receipts to transactions.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "transactions_to_receipts",
            "description": "list of receipts to transactions<br><br>maximum of 50 element are allowed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionsToReceipts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "assigning successful",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignBatchReceipt_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode4"
            }
          },
          "400 (10)": {
            "description": "Number of transactions to receipts exceeded",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignBatchReceipt_ErrorCode10"
            }
          },
          "400 (12)": {
            "description": "No transactions to receipts found",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignBatchReceipt_ErrorCode12"
            }
          },
          "400 (23)": {
            "description": "no post and files content received or declined",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignBatchReceipt_ErrorCode23"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode11"
            }
          },
          "403 (15)": {
            "description": "adding is temporarily restricted",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode15"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref":  "#/definitions/Request_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode30"
            }
          }
        }
      }
    },
    "/transactions/assigned-receipts/get": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "get all receipts assigned to a specific transaction",
        "description": "Get all receipts assigned to a specific transaction for a specified customer account by id_by_customer. You can get the <i>&ldquo;id_by_customer&rdquo;</i> by using the <i>&ldquo;/transactions/get method&rdquo;</i> first.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "transaction_id_by_customer",
            "description": "The id_by_customer of the transaction.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "confirmed_only",
            "description": "If true, only confirmed assignments will be returned.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "boolean",
            "default": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "query successful",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignedReceiptsGet_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode11"
            }
          },
          "400 (5)": {
            "description": "invalid transaction_id_by_customer specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignedReceiptsGet_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "no transaction found",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignedReceiptsGet_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "invalid confirmed_only specified",
            "schema": {
              "$ref": "#/definitions/TransactionsAssignedReceiptsGet_ErrorCode7"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode0"
            }
          },
          "504 (30)": {
            "description": "timeout",
            "schema": {
              "$ref": "#/definitions/Request_ErrorCode30"
            }
          }
        }
      }
    },
    "/invoices/create": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "create invoice",
        "description": "Add an invoice for the specified customer.",
        "parameters": [
          {
            "in": "body",
            "name": "api_key",
            "description": "The api key registered for the customer to manage",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "type",
            "description": "Can be either 'invoice' (<i>&ldquo;Rechnung&rdquo;</i>), 'credit' (<i>&ldquo;Gutschrift&rdquo;</i>) or 'offer' (&ldquo;Angebot&rdquo;).",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "show_prices_type",
            "description": "Can be either 'net' (<i>&ldquo;Netto&rdquo;</i>) or 'gross' (&ldquo;Brutto&rdquo;).",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "company_name",
            "description": "The company name of the recipient.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date",
            "description": "The date of the invoice.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "item_name",
            "description": "An array of invoice items.<br/><br/>Usage:<br/>\"item_name\" : ['Item 1', 'Item 2']",
            "required": true,
            "type": "array"
          },
          {
            "in": "body",
            "name": "item_amount",
            "description": "An array of invoice item amounts.<br/><br/>Usage:<br/>\"item_amount\" : ['10', '20']",
            "required": true,
            "type": "array"
          },
          {
            "in": "body",
            "name": "item_unit",
            "description": "An array of invoice items units.<br/><br/>Usage:<br/>\"item_unit\" : ['Std.', 'Stk.']",
            "required": true,
            "type": "array"
          },
          {
            "in": "body",
            "name": "item_vat",
            "description": "An array of invoice item vats.<br/><br/>Usage:<br/>\"item_vat\" : ['7', '19']<br/><br/>Valid vat rates are floating point numbers between 0 and 100.",
            "required": true,
            "type": "array"
          },
          {
            "in": "body",
            "name": "item_single_price",
            "description": "An array of invoice item single_prices.<br/><br/>Usage:<br/>\"item_single_price\" : ['20', '19.99']",
            "required": true,
            "type": "array"
          },
          {
            "in": "body",
            "name": "contact_person_name",
            "description": "The name of the contact person of the recipient company.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "street",
            "description": "The street of the recipient company.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "additional_addressline",
            "description": "The additional address information of the recipient company.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "zip",
            "description": "The zip of the recipient company.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "city",
            "description": "The city of the recipient company.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "country",
            "description": "The country of the recipient company.<br/><br/>If specified, the field will be validated. Valid cases are only the German version of the country name [Dänemark] OR the two digit ISO code of the country [DK].",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "email",
            "description": "The email for sending the invoice.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "recurring_interval",
            "description": "An interval for recurring invoices. Can be either 'weekly', 'monthly', 'quarterly' or 'yearly'.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "recurring_date_next",
            "description": "The next date of a recurring invoice.<br/><br/>IMPORTANT:<br/>The field is required, if <i>&ldquo;recurring_interval&rdquo;</i> is specified.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "date_of_supply",
            "description": "Date or period of service/delivery.<br /><br /><b>NOTE:</b> The date_of_supply will be displayed on the PDF, but when the date AND the date_of_supply is specified in the format \"YYYY-MM-DD\", the date_of_supply will also be taken over as date_delivery of the receipt in the 'Belege' or 'Belege/Buchen' view.<br /><br /><strong>IMPORTANT: Due to the DATEV compatibility, we cannot accept a date_of_supply that is after the invoice date. In that case it will be ignored!</strong>",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "invoicenumber",
            "description": "The invoicenumber for the invoice. If not specified, the default BHB number will be created.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "correspondence",
            "description": "The optional correspondence to the invoice recipient.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "discount_type",
            "description": "The type of the discount. Can be either 'percent' or 'EUR'.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "discount_value",
            "description": "The value of granted discount.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payment_conditions",
            "description": "The payment conditions of the invoice.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "due_days",
            "description": "The number of days between the invoice date and the due date.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "final_provisions",
            "description": "The final comment of the invoice.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "show_bankdata",
            "description": "Show the the bank data on the invoice.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "boolean",
            "default": "false"
          },
          {
            "in": "body",
            "name": "show_contactdata",
            "description": "Show the contact data on the invoice.<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "boolean",
            "default": "false"
          },
          {
            "in": "body",
            "name": "item_description",
            "description": "An array of invoice item description.<br/><br/>Usage:<br/>\"item_description\" : ['Description Item 1', 'Description Item 2'].<br/><br/>If specified, the field will be validated.",
            "required": false,
            "type": "array"
          },
          {
            "in": "body",
            "name": "customer_number",
            "description": "The customer number of the recipient.<br/>If specified, the field will be validated.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payment_reference",
            "description": "The payment reference id.<br /><br />If specified correctly, the resulting receipt of the created invoice will match with the corresponding transaction. <br /><br />NOTE: Currently we support Amazon order id, PayPal transaction id and Stripe transaction id!",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "language",
            "description": "The language for translatable invoice labels (e.g. headings, table headers, payment terms). Can be either 'de_DE' (<i>&ldquo;Deutsch&rdquo;</i>, default) or 'en_US' (<i>&ldquo;English&rdquo;</i>).<br/><br/>If omitted, German is used.",
            "required": false,
            "type": "string",
            "default": "de_DE"
          }
        ],
        "responses": {
          "200": {
            "description": "adding successful",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_Success"
            }
          },
          "401 (3)": {
            "description": "API credentials unknown or invalid",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode3"
            }
          },
          "401 (4)": {
            "description": "customer not found or insufficient privileges",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode4"
            }
          },
          "403 (11)": {
            "description": "customer has no active status",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode11"
            }
          },
          "403 (33)": {
            "description": "customer has reached the upload limit",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode33"
            }
          },
          "400 (5)": {
            "description": "invalid type specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode5"
            }
          },
          "400 (6)": {
            "description": "no items specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode6"
            }
          },
          "400 (7)": {
            "description": "invalid show_prices_type specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode7"
            }
          },
          "400 (8)": {
            "description": "invalid recurring_interval specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode8"
            }
          },
          "400 (9)": {
            "description": "invalid recurring_date_next specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode9"
            }
          },
          "400 (10)": {
            "description": "invalid show_bankdata specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode10"
            }
          },
          "400 (12)": {
            "description": "invalid show_contactdata specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode12"
            }
          },
          "400 (13)": {
            "description": "invalid company_name specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode13"
            }
          },
          "400 (14)": {
            "description": "invalid contact_person_name specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode14"
            }
          },
          "400 (16)": {
            "description": "invalid street specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode16"
            }
          },
          "400 (17)": {
            "description": "invalid additional_addressline specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode17"
            }
          },
          "400 (18)": {
            "description": "invalid zip specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode18"
            }
          },
          "400 (19)": {
            "description": "invalid city specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode19"
            }
          },
          "400 (20)": {
            "description": "invalid country specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode20"
            }
          },
          "400 (21)": {
            "description": "invalid date specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode21"
            }
          },
          "400 (22)": {
            "description": "invalid invoicenumber specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode22"
            }
          },
          "400 (23)": {
            "description": "no post and files content received or declined",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode23"
            }
          },
          "400 (24)": {
            "description": "invalid date_of_supply specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode24"
            }
          },
          "400 (25)": {
            "description": "invalid email specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode25"
            }
          },
          "400 (26)": {
            "description": "invalid correspondence specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode26"
            }
          },
          "400 (27)": {
            "description": "invalid discount_value specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode27"
            }
          },
          "400 (28)": {
            "description": "invalid discount_type specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode28"
            }
          },
          "400 (29)": {
            "description": "invalid payment_conditions specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode29"
            }
          },
          "400 (31)": {
            "description": "invalid final_provisions specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode31"
            }
          },
          "400 (32)": {
            "description": "invalid item_name specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode32"
            }
          },
          "400 (34)": {
            "description": "invalid item_amount specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode34"
            }
          },
          "400 (35)": {
            "description": "invalid item_unit specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode35"
            }
          },
          "400 (38)": {
            "description": "invalid customer_number specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode38"
            }
          },
          "400 (39)": {
            "description": "invalid item_vat specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode39"
            }
          },
          "400 (43)": {
            "description": "invalid due_days specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode43"
            }
          },
          "400 (44)": {
            "description": "invalid language specified",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode44"
            }
          },
          "500 (0)": {
            "description": "internal error",
            "schema": {
              "$ref": "#/definitions/InvoicesCreate_ErrorCode0"
            }
          },
[...]
